// 글자색
$color-text-primary: #fff;
$color-text-secondary: #000;
$color-text-desc: #666;

// 배경색
$color-bg-primary: #121212;
$color-bg-secondary: #fff;

// 폰트
$font-main: Pretendard Variable, Pretendard, -apple-system, BlinkMacSystemFont,
  system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR,
  Malgun Gothic, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, sans-serif;

// 브레이크포인트 (px)
$breakpoint-mobile: 767;
$breakpoint-laptop: 1280;
$breakpoint-desktop: 1500;


